.expand-overall-container{
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 100%;
    background-image: url('../../Images/whitecommonbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
.product-container{
    height:30%;
    padding: 0 0 0 10%;
}
.product-details-box{
    display: flex;
    flex-direction: row;
}
.productbox{
    width:40%;
    
}
.product-name{

    font-size: 30px;
    font-weight: 600;
}
.titlebox{
    font-size: 20px;
    margin-top: 10%;
    color: rgba(32, 31, 32, 0.6);

}
.price{
    color:blueviolet;
    font-size: 18px;
    font-weight: 500;
}
.quantity-entry{
    display: flex;
    flex-direction: row;
}
.images3{
    width:60%;
}
.certificate{
    display: flex;
    align-items:center;
    justify-content:center;
}
.certification{
    font-size: 15px;
    color: rgba(32, 31, 32, 0.6);
    padding: 10px;
}
.popdiv {
    height:40%;
    width: 90%;
    padding: 5%;
    background-color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.farmdetailshead, .farmerdetailshead{
    font-size: 20px;
    margin-top: 3%;
}
.farmdetailsdesc{
display: flex;
align-items: center;
width:100%;
}
.Farmlocationdesc{
    margin: 3%;
}
.farmname{
    color:#0BCE83;
    
}
.farmlocation,.farmerlocation{
    color:#888;
}
.farmcodedesc{
    margin: 3%;
}
.farmcodehead{
    font-weight: 200;
}
.farmcode{
    font-weight: 300;
}
.farmer{
    height: 50px;
    border-radius: 50%;
}
.farmername{
    display: flex;
    align-items: center;
}
.farmerlocation{
    font-size: 14px; 
}
.addtobtn{
    color: #FFF;
    font-size: 15.448px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 30px;
    background: #0BCE83;
    width: 80%;
    height: 70px;
    border: none;

}