.signup-login-page-container{
    padding: 0;
    margin: 0;
    background-image: url("../../Images/commonbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #8423FF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-section{
    position:absolute;
    top: 0;
    height: 30%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container{
    position: absolute;
    animation: slideUp 1s forwards;
    width: 100%;
    max-width: 450px;
    height: 70%;
    background-color: #F6F5F5;
    border-radius: 25px 25px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.labelstyles{
    color: #32343E;
    font-size: 14.345px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 15px 0 0 10%;
}

.inputfield{
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #FFF;
    margin: 3px 0 15px 10%;

}

.submitbtn{
    color: #FFF;
    font-size: 15.448px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 30px;
    background: #0BCE83;
    width: 80%;
    margin:8% 10% 10px 10%;
    height: 70px;
    border: none;
}

@keyframes slideUp {
    from {
      bottom: -50%;
    }
    to {
      bottom: 0;
    }
  }