.address-overall-container{
    height: 100vh;
    background-color: #F6F5F5;
    justify-content: center;
    align-items: center;
    
}
.addressInfoContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;
    justify-content: flex-start;
   
  }
  .addressInfoItem{
    margin-bottom: 15px;
  }
 
  
  .addlabel {
    
    color: #32343E;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 0 0 8%;
  }
  
  
  .addvalue {
    width: 325px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #FFF;
    margin: 10px 0 15px 8%;
    padding-left: 5%;

  }
  .addvalue::placeholder {
    color: #A0A5BA; /* Change placeholder text color */
    
  }
  .addvalue option {
    color: #A0A5BA; /* Example font color */
    padding: 5%; /* Example padding */
  }
    
  .orderbtn {
  position: fixed;
    bottom: 100px; 
    color: #FFF;
    font-size: 15.448px;
    font-style: normal;
    font-weight: 600;
    margin-left: 40px;
    border-radius: 30px;
    background: #7519EB;
    width: 80%;
    height: 70px;
    border: none;}
