
.chart{
    display: flex;
    
    margin-left: 10%;
}
.recharts-wrapper{
    border-top-left-radius:0 ;
border-top-right-radius: 0;
border-bottom-right-radius:20.127px;
border-bottom-left-radius: 20.127px;
   
    background: #FFF;
    box-shadow: 0px 20.127px 40.253px 0px rgba(57, 57, 57, 0.10);
    padding:5%
}
.recharts-cartesian-axis-tick-line {
    display: none;
}
.recharts-layer.recharts-bar-rectangle {
    margin-right: 0px;
  }
  .recharts-text.recharts-cartesian-axis-tick-value {
    transform: translateX(-10px);
}
  .recharts-cartesian-axis-tick {
    font-size: 12px; /* Adjust the font size of the ticks */
    fill: #222; /* Change the color of the ticks */
  }