.chat-overall-container{
    height: 100vh;
    background-color: #F6F5F5;
    justify-content: center;
    align-items: center;
    
}

.msg-chat{
  flex: 1;
  overflow-y: auto;
  padding: 10px 33px;
}
.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
  }

  .msg-img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
  }
  .msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 25px;
    background: #EEE;
  }
  .left-msg .msg-bubble {
    border-bottom-left-radius: 0;
  }
  
  .right-msg {
    flex-direction: row-reverse;
  }
  .right-msg .msg-bubble {
    background:#0BCE83;
    color: #fff;
    border-top-right-radius: 0;
  }
  .right-msg .msg-img {
    margin: 0 0 0 10px;
  }


.msger-inputarea {
    display: flex;
    padding: 10px;
    position: absolute;
    bottom:100px;
    width: 300px;
    flex: 1;
    
    border-top: 2px solid #ddd;
    background: #FFF;
    height: 40px;
    border: none;
    padding-left: 25px;
    align-items: center;
    
    margin-left: 40px;
    border-radius: 30px;
    box-shadow: 5px 4px 20px 0px rgba(0, 0, 0, 0.13);   
    
    
  }
  .msger-inputarea * {
    font-size: 15px;
    border: none;
    
  }
  

  input:focus {
    outline: none; 
    border: none; 
  }
  .msger-send-btn {
    margin-left: 10px;
    border: none;
    background: rgb(0, 196, 65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
  }
  
  