.searchpage-container{
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 100%;
    background-image: url('../../Images/whitecommonbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.frequent-searches,
.recent-searches {    

    width: 100%; 
    border-radius: 5px;
    padding: 0px;
}
.searchtext{
    margin-left: 10%;
    color: #7519EB;
}
.mini-card-row {
    display: flex;
    overflow-x: scroll;
    align-items: center;    
}

.mini-card-row::-webkit-scrollbar {
    display: none; 
}