.addproduct-overall-container{
    
    background-color: #F6F5F5;
    justify-content: center;
    align-items: center;
    
}
.addproductInfoContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;
    justify-content: flex-start;
   
  }
  .addproductInfoItem{
    margin-bottom: 15px;
  }
  .addvalue:focus {
    border-color: #A0A5BA; /* Change the border color when input is focused */
  }
  .addvalue::placeholder {
    color: #A0A5BA;
  }
  .addlabel {
    word-wrap: 'break-word';
    color: #32343E;;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 0 0 8%;
  }
  
  
  .addvalue {
    width: 325px;
    height: 50px;
    font-size: 16px; 
    border: none;
    border-radius: 10px;
    background-color: #FFF;
    margin: 10px 0 15px 8%;
    padding-left: 5%;

  }
  .addvalue::placeholder {
    color: #A0A5BA; /* Change placeholder text color */
    
  }
  .addvalue option {
    color: #A0A5BA; /* Example font color */
    padding: 5%; /* Example padding */
  }
    
  .addproductbtn {
    margin-bottom: 15px;
    color: #FFF;
    font-size: 15.448px;
    font-style: normal;
    font-weight: 600;
    margin-left: 40px;
    border-radius: 30px;
    background: #7519EB;
    width: 80%;
    height: 70px;
    border: none;
    margin-top: 20px;
}

    .FileUploadBase {
        width: 300px;
        
        padding: 20px;
        background: white;
        border-radius: 6.57px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.19px;
        margin-left: 8%;
        margin: 10px 0 15px 8%;
      }
      
      .Content {
        align-items: center;
        height: 61.70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6.57px;
      }
      
      .IconFrame {
      
        padding:6px;
        background: #E3FFF4;
        border-radius: 30.61px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6.12px;
      }
.Action{
    display: flex;
    font-size: 12px;
}
.ClickText{
    color:#0BCE83;
    font-weight: 500;
} 
.DragText{
    margin-left: 5px;
}
.SupportingText
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;

font-size: 10px;
font-style: normal;
font-weight: 400;

}

      