.Loadingpage{
    text-align: center;
    background-color: #7519EB;
    background-image: url(./Images/Group\ 6\ \(3\).png);
    background-size: 90%;
    background-repeat: no-repeat;
    
    background-position:center;
    width: 100%;
    height: 100%;
    margin: 0 ;
     
    border-radius: 10px; 
}

.logo {
    width: 8vh;
  }
  .herotext{
    color: white;
  }
  .heroimage{
   width: 100%;
    
  }
  .getbutton{
    background-color: #0BCE83;
  }