.Loadingpage{
    text-align: center;
    background-color: #7519EB;
    background-image: url(../../Images/Backgroundlogo.png);
    background-size: 90%;
    background-repeat: no-repeat;
    padding: 20px;
    background-position:center;
    width: 100%;
    height: 100%;
    margin: 0 ;
    align-items: center;
    border-radius: 10px; 
}

.logo {
    width: 8vh;
  }
  .herotext{
    color: white;
  }
  .heroimage{
   width: 100%;
    
  }
  .getbutton{
    width:250px;
    background-color: #0BCE83;
    color:white;
  }