.Loadingpage{
  background-color: #7519EB;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-end;
  overflow: hidden;
}

.bg-img{
  position: absolute;
  max-width: 450px;
  z-index: 1;
  top: 10%;
}

.logo-img{
  position: absolute;
  max-width: 450px;
  top: 6%;
  z-index: 2;
}

.herotext{
  color: white;
  font-size: 65px;
  font-weight: bolder;
  text-align: left;
  position: absolute;
  top: 18%;
}
.heroimage{
  width: 95%;
  position: absolute;
  max-width: 450px; 
  z-index: 2;
  top: 37%;
  
}
.getbutton{
  text-align: center;
  font-size:20px;
  color: #FFFFFF;
  background-color: #0BCE83;
  border-radius: 30px;
  padding: 15px 20px 15px 20px;
  width: 250px;
  z-index: 5;
  position: absolute;
  bottom: 5%;
}