.search-box3 {
    display: flex;
    align-items: center;
    margin-top: 13%;
    margin-left: 14%;
    transform: translate(-10%, -40%);
    height: 20px;
    border-radius: 40px;
    border:1px solid black;
    padding: 12px;
    
  }
   .search-box3:hover > .search-box3{
    background: #FFFFFF;
    width:40%;
  }
  .search-box3:hover > .search-text2{
    width: 150px;
    padding: 0;
    
  }
  .images2{
    position: absolute;
    right:13%;

  }
  .search-box3:hover > .search-btn2{
    color: black;
  }
  
  .search-btn2 {
    float: left;
    width: 40px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
    
  }
  .search-btn2 > i {
    font-size: 23px;
  }
  
  .search-text2 {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #000000;
    font-size: 16px;
    font-weight: normal;
    transition: 0.4s;
    width: 0px;
    
  }

.search-box3:hover .recent-searches {
    display: block;
    margin-top: 20%;
}

.search-box3:hover .frequent-searches{
    display: block;
    margin-top: 20px;
}
