.order-overall-container{
    background-color: #F6F5F5;
    height:100vh;
    
}
.orderstitle{
    margin-left: 8%;
    color: #000;

font-family: "SF Pro Rounded";
font-size: 19.862px;
font-style: normal;
font-weight: 700;
line-height: 26.483px; /* 133.333% */
letter-spacing: -0.662px;
}

.order-1 {
    display: flex;
    flex-direction: column;
   
    width: 311px;
    background-color: #ffffff;
    border-radius: 20.13px;
    box-shadow: 0px 20.13px 40.25px #3939391a;
   
    margin-top: 15px;
    margin-left: 8%;
   
    padding-bottom: 20px;
    }
  

.order1-pic{
    margin-left: 6px;
}
.order-right {
    margin-top: 18px;
    display:flex;
    gap: 37px;
    position: relative;
    margin-left: 10px;
}

.leftdiv {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;
}

 .text-wrapper {
    color: #000000;
    font-family: "SF Pro Rounded-Semibold", Helvetica;
    font-size: 15px;
    font-weight: 550;
    
    margin-top: -1px;
    
    text-align: center;
  
}

 .text-wrapper-2 {
    color: #0BCE83;
    font-family: "SF Pro Rounded-Medium", Helvetica;
    font-size: 11px;
    font-weight: 500;
    
    line-height: 10px;
}

.element {
    color: #000000;
    align-items: center;
    display:flex;
   
    font-family: "SF Pro Rounded-Regular", Helvetica;
    font-size: 18.3px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18.6px;
    margin-top: -1px;
    opacity: 0.9;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.span {
    color: #000000;
    font-family: "SF Pro Rounded-Regular", Helvetica;
    font-size: 20px;
    font-weight: 550;
    
    line-height: 18.6px;
}

.text-wrapper-3 {
    font-size: 12.4px;
    line-height: 12.6px;
    font-weight: 550;
    margin-top: 5px;
}
.order-box-1-item{
    display: flex;

}
.orderstatus{
    display: flex;
}
.statusframe{
    margin-left: 8%;
}

.status-wrapper{
    color:#7519EB;
font-size: 10px;
font-weight: 600;
line-height: 11.4px;

}
.transitdiv{
    color:#000000;
font-size: 10px;
font-weight: 300;
line-height: 11.4px;

}.price1{
    display: flex;
    
    color:#615D5D;
    margin-left: 20%;
}
.itempricevalue{
    margin-left: 80%;
}
.rowContainerpro {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    display: flex;
  }
  
  .rowpro{
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
  }
  .labelpro {
    margin-left: 20px;
    color: #615D5D;
    font-size: 13px;
    font-family: 'SF Pro Rounded';
    font-weight: 400;
    line-height: 20.91px;
    word-wrap: break-word;
  }
  .pricevaluepro {
    width: 158px;
    text-align: right;
    color: #615D5D;
    font-size: 13px;
    font-family: 'SF Pro Rounded';
    font-weight: 400;
    line-height: 20.91px;
    word-wrap: break-word;
  }
  .packvaluepro {
    width: 120px;
    text-align: right;
    color: #615D5D;
    font-size: 13px;
    font-family: 'SF Pro Rounded';
    font-weight: 400;
    line-height: 20.91px;
    word-wrap: break-word;
  }
  .separator {
    width: 220px;
    height: 0;
    margin-left: 20px;
    border: 0.95px #615D5D dotted;
  }
  
  .totalLabel {
    width: 138px;
    color: #212529;
    margin-left: 20px;
    font-size: 12.36px;
    font-family: 'SF Pro Rounded';
    font-weight: 700;
    line-height: 20.91px;
    word-wrap: break-word;
  }
  
  .totalValue {
    width: 75px;
    text-align: right;
    color: #212529;
    font-size: 13.31px;
    font-family: 'SF Pro Rounded';
    font-weight: 700;
    line-height: 20.91px;
    word-wrap: break-word;
  }
  .canceldiv{
    color:#FF4343;
font-size: 10px;
font-weight: 300;
line-height: 11.4px;
  }
  .deliverdiv{
    color:#0BCE83;
font-size: 10px;
font-weight: 300;
line-height: 11.4px;
  }