.navbar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    max-width: 450px;
    position: absolute;
    bottom: 20px;
    gap:15%;
}