.emptycart-overall-container{
    height: 100vh;
    background-color: #F6F5F5;
    justify-content: center;
    align-items: center;
    max-width: 450px;
}
.emptycart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: '2px';
}
.emptycart{
    margin-top: 30%;
}
.waitmsg{
    font-weight: 400;
    color:#888;
    padding: 10px;
}
.shopbtn{
    position: fixed;
    bottom: 100px; 
    color: #FFF;
    font-size: 15.448px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 30px;
    background: #0BCE83;
    width: 80%;
    max-width: 400px;
    height: 70px;
    border: none;

}