.seemore-overall-container{
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 100%;
    background-image: url('../../Images/whitecommonbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
.header2{
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 80%;
        max-width: 450px;
        padding:7% 10% ;
}

.searchlinkdiv{
  margin-top: 10%;
  margin-left: 10%;
}
.search-box2 {
    display: flex;
    
    margin-top: 13%;
    margin-left: 54%;
    transform: translate(-50%, -50%);
     background: #FFFFFF; 
    height: 30px;
    border-radius: 40px;
    padding: 12px;
    
  }
   .search-box2:hover > .search-box2{
    background: #FFFFFF;
    margin-left: 34%;
  }
  .search-box2:hover > .search-text2{
    width: 200px;
    padding: 0;
    
  }
  
  .search-box2:hover > .search-btn2{
    
    color: black;
    
  }
  
  .search-btn2 {
    
    float: left;
    width: 40px;
    height: 35px;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
    
  }
  .search-btn2 > i {
    font-size: 23px;
  }
  
  .search-text2 {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #000000;
    font-size: 16px;
    font-weight: normal;
    transition: 0.4s;
    
    width: 0px;
    
  }
  .Productlist{
    height:68%;
    overflow: scroll;
  }
  .Productlist::-webkit-scrollbar {
    display: none; 
  }
  
  .Productcompset2{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .Productbox{
    margin-top: 35px;
    padding:10px;
  }