.dashboard-overall-container{
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 100%;
    background-image: url('../../Images/whitecommonbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.dashboard-overall-container::-webkit-scrollbar {
  display: none; 
}

.images1{
  width:7%;
  height: 30px;
  object-fit: contain;
  margin:0;
}

.logoimage{
  width:25%;
  height: 45px;
  object-fit: contain;
  margin:0;
}
.header1{
  display: flex;
  align-items: center;
  justify-content: left;
  width: 80%;
  max-width: 450px;
  padding:10% 10% 6% 10%;
  gap:86%;
  margin:0;
}
.username{
    color:#7519EB;
    margin-left:10%;
    font-size:32px ;
}
.goodmorni{
  margin-top:25px;
  margin-left: 10%;
  font-size:32px;
}
.search-box {
    display: flex;
    width:68%;
    background: #fffcfc;
    height: 35px;
    border-radius: 40px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 13%;
  }
  

  .search-btn{
    
    color: rgb(0, 0, 0);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
   
    text-decoration: none;
    
  }
  .search-btn > i {
    font-size: 20px;
  }
  
  .search-text {
  
    border: none;
    background: none;
    outline: none;
    padding: 10;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    
  }