.App {
  text-align: center;
  background-color: #7519EB;
  background-image: url(./Images/Background.png);
  background-position:center;
  max-width: 350px;
  height: 100%;
  margin: 0 ;
  padding: 20px; 
  border-radius: 10px; 
}
.logo {
  width: 8vh;
}
.herotext{
  color: white;
}
.heroimage{
  max-width: 350px;
  
}
.getbutton{
  background-color: #0BCE83;
}