@import './fonts/fonts.css';
:root{
    margin: 0;
    padding: 0;
    max-width: 450px;
    margin: 0 auto;
}

*{
    font-family: 'SF Pro Rounded', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
