.product-component-ovrerall{
}
.minicard{
    text-align: center;
    background-color: transparent;
}
.Textbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width:145px;
    height: 135px;
    bottom: 0;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding-bottom: 20px;
    padding-right: 5px;
    padding-left: 5px;
}
.product-image{
    margin-top :-40%;
    height: 150px;
    object-fit: contain;
}
.name{
    color:#000000;
    font-weight: bold;
}
.inr{
    color:#7519EB;
    font-weight: 600;
    padding-top: 5px;
}