.LocationPage{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(../../Images/Background2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content:flex-end;
    align-items: center;
     
}
.locationbox{
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: #F6F5F5;
    
}
.Sharelocation{
    color: #2D0C57;
    font-size: 30px;
    font-weight: bold;
    padding:  20px 50px 20px 50px;
}
.Locationdesc{
    
    color:#868686;
    padding: 20px 50px 20px 50px;
}
.continuebutton{
    
    margin-left: 20px;
    margin-right: 20px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #0BCE83;
    padding: 20px;
    border-radius: 30px;
}
.Nomessage{
    color:#0BCE83;
    font-weight: bolder;
    margin-top: 25px;
    margin-bottom: 50px;
}