.LocationPage{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(../../Images/Background2.png);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content:flex-end;
    align-items: center;
     
}
.locationbox{
    width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    
}
.Sharelocation{
    color: #2D0C57;
    font-size: 30px;
    font-weight: bold;
    padding:  0px 50px 0px 50px;
    
}
.Locationdesc{
    line-height: 1.5;
    color:#868686;
    font-size: 18px;
    padding: 20px 50px 20px 50px;
}
.continuebutton{
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #0BCE83;
    padding: 20px 20%;
    border-radius: 30px;
    border: none;
}
.Nomessage{
    color:#0BCE83;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 35px;
}