.overall-farmer-dashboard{
    
        background-image: url('../../Images/whitecommonbg.png');
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;
    }

    .overall-farmer-dashboard-container::-webkit-scrollbar {
        display: none; 
      }
      .farmer-dashboard{height:100vh;
        padding: 0;
        margin: 0;
        width: 100%;

      }
      .username{
        color:#7519EB;
        margin-left:10%;
        font-size:32px ;
    }
    .farmgoodmorni{
      margin-top:10px;
      margin-left: 10%;
      font-size:32px;
    }
    .header1{
        display: flex;
        align-items: center;
        justify-content: left;
        width: 80%;
        max-width: 450px;
        padding:10% 10% 6% 10%;
        gap:86%;
        margin:0;
      }
.dash-box{
    display: flex;
    margin-left: 10%;
    margin-top: 13px;
}
.buttonbox1{
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
    width: 148px;
    height: 102px;
    border-radius: 20.127px;
    background: #FFF;
    box-shadow: 0px 20.127px 40.253px 0px rgba(57, 57, 57, 0.10);
    
    margin-right: 9px;

}
.buttonbox2{
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
    width: 148px;
    height: 102px;
    border-radius: 20.127px;
    background: #FFF;
    box-shadow: 0px 20.127px 40.253px 0px rgba(57, 57, 57, 0.10);
    margin-left: 9px;
    margin-right: 9px;

}
.totalorder,.orderno{
    color:  #0BCE83;

font-family: "SF Pro Rounded";
font-size: 39.09px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.ordertitle{
    color: #222;

font-family: "SF Pro Rounded";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.exploreproduct{
    display: flex;
  background: #7519eb;
  border-radius: 11px;
  width: 318px;
  align-items: center;
  justify-content: center;
  height: 55px;
  position: relative;
  margin-top: 15px;
  margin-left: 8%;
}

.explorepro{
 color: #FFF;
font-family: "SF Pro Rounded";
font-size: 16px;
font-weight: 300;
margin-left: 10px;
}

.topproduct{
color: #000;
text-align:left;
margin-left: 10%;
font-size: 19.86px;
font-style: normal;
font-weight: 600;
line-height:  20px;
margin-top: 15px;
}
.Statistics{
    color: #000;
text-align:left;
margin-left: 10%;
font-size: 19.86px;
font-style: normal;
font-weight: 600;
line-height:  20px;
margin-top: 50px;
}
.topselling{
    display: flex;
    width: 259px;
    margin-left: 10%;
text-align: center;
font-family: "SF Pro Rounded";
font-size: 14.759px;
font-style: normal;
font-weight: 600;
margin-top: 20px;
padding-top:20px;
padding-left: 20px;
padding-right: 10px;
background-color: #FFF;
justify-content: space-between;
border-top-left-radius:20.127px ;
border-top-right-radius: 20.127px;
}
.topsellpercent{
    color:#0BCE83;
}
.statibox{
    display: flex;
    background-color: #FFF;
    border-radius: 20.13px;
    width: 259px;
    margin-left: 10%;
    padding:10px 15px;
   
}
.Statitextout {
    margin-left: 10px;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    display: inline-flex;
  }
  
  .Frame19995 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
    display: inline-flex;
  }
  
  .fruitname {
    opacity: 0.90;
    text-align: center;
    color: black;
    font-size: 12px;
    font-family: 'SF Pro Rounded';
    font-weight: 600;
    line-height: 12.16px;
    word-wrap: break-word;
  }
  
  .RJFarms {
    opacity: 0.90;
    text-align: center;
    color: #7519EB;
    font-size: 8.76px;
    font-family: 'SF Pro Rounded';
    font-weight: 400;
    line-height: 8.88px;
    word-wrap: break-word;
  }
  
  .Frame19994 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
  }
  
  .Kg {
    opacity: 0.90;
    text-align: center;
  }
  
  .Weight {
    color: black;
    font-size: 24.43px;
    font-family: 'SF Pro Rounded';
    font-weight: 600;
    line-height: 24.76px;
    word-wrap: break-word;
  }
  
  .Unit {
    color: black;
    font-size: 16.55px;
    font-family: 'SF Pro Rounded';
    font-weight: 600;
    line-height: 16.77px;
    word-wrap: break-word;
  }
  
  .Left {
    opacity: 0.90;
    text-align: center;
    color: #888888;
    font-size: 10.18px;
    font-family: 'SF Pro Rounded';
    font-weight: 600;
    line-height: 10.31px;
    word-wrap: break-word;
  }
  