.Profile-overall-component{
    background-color: #F6F5F5;
    height:100vh;
    
}
.profile-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:25px;
}
.pic {
    height: 72px;
    width: 72px;
  }
.profile-name{
    font-weight: 500;
    font-size: 25px;
    color:#7519EB;
    line-height: 26.25px;
}
.profile-email{
    font-weight: 300;
    line-height: 16.71px;
    margin-top: 5px;
}
.profile-btns {
    width: 319px;
    height: 55px;
    margin-top: 15px;
    margin-left: 8%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 7px;
    display: inline-flex;
  }
  
  .Group97,
  .Group98 {
    width: 156px;
    height: 55px;
    position: relative;
  }
  
  .button-box {
    width: 156px;
    height: 55px;
    left: 0;
    top: 0;
    position: absolute;
    background: white;
    box-shadow: 0px 20px 40px rgba(57, 57, 57, 0.10);
    border-radius: 11px;
  }
  
  .Frame48096276,
  .Frame48096277 {
    width: 73px;
    height: 19px;
    left: 41px;
    top: 18px;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    display: inline-flex;
  }
  
  .vector {
    width: 18px;
    height: 14.55px;
    
  }
  
  .Wishlist,
  .Orders {
    color: #222222;
    font-size: 16px;
    font-family: 'SF Pro Rounded';
    font-weight: 500;
    word-wrap: break-word;
  }
  
  .explorebtn{
    display: flex;
  background: #7519eb;
  border-radius: 11px;
  width: 318px;
  align-items: center;
  justify-content: center;
  height: 55px;
  position: relative;
  margin-top: 10px;
  margin-left: 8%;
}
.explore{
    margin-left: 8px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;

}
.recent-order{
    color: #201f20;
    margin-top: 15px;
  margin-left: 8%;
    font-size: 19.9px;
    font-weight: 500;

    line-height: 20px;

}

.order-box-1 {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 311px;
    background-color: #ffffff;
    border-radius: 20.13px;
    box-shadow: 0px 20.13px 40.25px #3939391a;
    height: 100%;
    margin-top: 15px;
    margin-left: 8%;
    width: 318px;
    padding-bottom: 20px;
    }
  

.order1-pic{
    margin-left: 6px;
}
.order-right {
    margin-top: 18px;
    display:flex;
    gap: 37px;
    position: relative;
    margin-left: 10px;
}

.leftdiv {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;
}

 .text-wrapper {
    color: #000000;
    font-family: "SF Pro Rounded-Semibold", Helvetica;
    font-size: 15px;
    font-weight: 550;
    
    margin-top: -1px;
    
    text-align: center;
  
}

 .text-wrapper-2 {
    color: #0BCE83;
    font-family: "SF Pro Rounded-Medium", Helvetica;
    font-size: 11px;
    font-weight: 500;
    
    line-height: 10px;
}

.element {
    color: #000000;
    align-items: center;
    display:flex;
   
    font-family: "SF Pro Rounded-Regular", Helvetica;
    font-size: 18.3px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18.6px;
    margin-top: -1px;
    opacity: 0.9;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.span {
    color: #000000;
    font-family: "SF Pro Rounded-Regular", Helvetica;
    font-size: 20px;
    font-weight: 550;
    
    line-height: 18.6px;
}

.text-wrapper-3 {
    font-size: 12.4px;
    line-height: 12.6px;
    font-weight: 550;
    margin-top: 5px;
}
.order-box-1-item{
    display: flex;

}
.orderstatus{
    display: flex;
}
.statusframe{
    margin-left: 8%;
}

.status-wrapper{
    color:#7519EB;
font-size: 10px;
font-weight: 600;
line-height: 11.4px;

}
.transitdiv{
    color:#000000;
font-size: 10px;
font-weight: 300;
line-height: 11.4px;

}.price1{
    display: flex;
    
    color:#615D5D;
    margin-left: 20%;
}
.itempricevalue{
    margin-left: 80%;
}
.rowContainerpro {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    display: flex;
  }
  
  .rowpro{
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
  }
  .labelpro {
    margin-left: 20px;
    color: #615D5D;
    font-size: 13px;
    font-family: 'SF Pro Rounded';
    font-weight: 400;
    line-height: 20.91px;
    word-wrap: break-word;
  }
  .pricevaluepro {
    width: 158px;
    text-align: right;
    color: #615D5D;
    font-size: 13px;
    font-family: 'SF Pro Rounded';
    font-weight: 400;
    line-height: 20.91px;
    word-wrap: break-word;
  }
  .packvaluepro {
    width: 120px;
    text-align: right;
    color: #615D5D;
    font-size: 13px;
    font-family: 'SF Pro Rounded';
    font-weight: 400;
    line-height: 20.91px;
    word-wrap: break-word;
  }
  .separator {
    width: 220px;
    height: 0;
    margin-left: 20px;
    border: 0.95px #615D5D dotted;
  }
  
  .totalLabel {
    width: 138px;
    color: #212529;
    margin-left: 20px;
    font-size: 12.36px;
    font-family: 'SF Pro Rounded';
    font-weight: 700;
    line-height: 20.91px;
    word-wrap: break-word;
  }
  
  .totalValue {
    width: 75px;
    text-align: right;
    color: #212529;
    font-size: 13.31px;
    font-family: 'SF Pro Rounded';
    font-weight: 700;
    line-height: 20.91px;
    word-wrap: break-word;
  }
  .logoutbtn{
    
    bottom: 100px; 
    color: #FFF;
    font-size: 15.448px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 30px;
    background: #FF4343;
    width: 80%;
    margin-left: 8%;
    margin-top: 15px;
    height: 70px;
    border: none;

}