.checkoutpage-overall-container{
    height: 100vh;
    background-color: #F6F5F5;
    justify-content: center;
    align-items: center;
    
}
.checkout-container{
    margin-left: 30px;
}
.addaddressbox{
    display: flex;
    width:300px;
    
    color: white;
    background-color: #7519EB;
    align-items: center;
    padding: 10.058px 20.116px;
    border-radius: 15px;
}
.adddesc{
    margin-left: 20px;
    
}
.addelivery{
    font-weight: 100;
    font-size: 11px;
    line-height: 14.081px;
}
.dottedline{
    margin-top: 10px;
}
.container {
    width:300px;
    padding: 19.01px;
    background: white;
    border-radius: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 15px;
  }
  
  .titleContainer {
    width: 314px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .title {
    width: 159.22px;
    color: #7519EB;
    font-size: 13.31px;
    font-family: 'SF Pro Rounded';
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .detailsContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 11.41px;
    display: flex;
  }
  
  .rowContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
    display: flex;
  }
  
  .row {
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
  }
  
  .label {
    width: 159.22px;
    color: #615D5D;
    font-size: 12.36px;
    font-family: 'SF Pro Rounded';
    font-weight: 400;
    line-height: 20.91px;
    word-wrap: break-word;
  }
  
  .value {
    width: 159.22px;
    text-align: right;
    color: #615D5D;
    font-size: 12.36px;
    font-family: 'SF Pro Rounded';
    font-weight: 400;
    line-height: 20.91px;
    word-wrap: break-word;
  }
  
  .separator {
    width: 318.43px;
    height: 0;
    border: 0.95px #615D5D dotted;
  }
  
  .totalLabel {
    width: 159.22px;
    color: #212529;
    font-size: 12.36px;
    font-family: 'SF Pro Rounded';
    font-weight: 700;
    line-height: 20.91px;
    word-wrap: break-word;
  }
  
  .totalValue {
    width: 159.22px;
    text-align: right;
    color: #212529;
    font-size: 13.31px;
    font-family: 'SF Pro Rounded';
    font-weight: 700;
    line-height: 20.91px;
    word-wrap: break-word;
  }
  .secondContainer {
    width: 300px;
    margin-top: 15px;
    padding-left: 20.12px;
    padding-right: 20.12px;
    padding-top: 10.06px;
    padding-bottom: 10.06px;
    background: white;
    border-radius: 15px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 18.10px;
  }
  
  .secondIconContainer {
    width: 15px;
    height: 15px;
    position: relative;
  }
  
  .secondIcon {
    width: 15px;
    height: 15px;
    left: 0;
    top: 0;
    position: absolute;
    
  }
  
  .secondContentContainer {
    flex: 1 1 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
  }
  
  .secondTitle {
    color: #212529;
    font-size: 12px;
    font-family: 'SF Pro Rounded';
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .secondDescription {
    width: 247.43px;
    color: #615D5D;
    font-size: 10.06px;
    font-family: 'SF Pro Rounded';
    font-weight: 500;
    line-height: 14.08px;
    word-wrap: break-word;
  }
  
  .orderbtn {
    position: fixed;
    bottom: 100px; 
    color: #FFF;
    font-size: 15.448px;
    font-style: normal;
    font-weight: 600;
    margin-left: 40px;
    border-radius: 30px;
    background: #888;
    width: 80%;
    height: 70px;
    border: none;
    

  }
  
  